@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto+Condensed&display=swap');

html {
    font-family: 'Lilita One', cursive;
    /*font-family: 'Roboto Condensed', sans-serif;*/

}
@media screen and (max-width: 1024px){

}

body{
    margin:0;
    padding:0;
}
.navBar img{
    height: 15px;
}
header {
    height: 1.2em;
    background: #F2F2F2;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
}



.top{
    font-family: sans-serif;
    font-size: 14px;

}
.top ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.top a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.first{
    color:black;
}
.else{
    color: rgba(46, 179, 185, 0.93);
}
.left_G{
    color: dimgray;
}
.left_B{
    color: blueviolet;
}
.left_Z{
    color: #00ac00;
}
.left_A{
    color:deepskyblue;
}
.container {
    height: 70px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    vertical-align: middle;
    justify-content: center;
    /*margin-right: 10em;*/
    /*margin-left: 10em;*/
}

.navBar{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.navBar a{
    color: dimgray;
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    font-family:'Titillium Web', sans-serif;
    font-size: 14px;
}

.logotype{
    align-items: stretch;
    flex-grow: 1;
}

div.block{
    align-items: flex-end;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
}

#logo{
    color: black;
    font-size:3em;
    font-weight: bolder;
    /*margin: auto;*/

}
.icon{
    margin: 10px;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: row;
}
input {
    background-color: #62a4c6;
    color: #F2F2F2;
    border:1px solid #62a4c6;
    border-radius: 2px;
    height: 2em;
}
#come input{
    color: black;
    background-color: white;
    border:1px solid dimgray;
}
.more_content{
    /*display: block;*/
    margin-top: 1em;
}
.crumbs {
    display:flex;
    flex-direction:row;
    list-style:none;

}
.crumbs a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: dimgray;
    font-family:'Titillium Web', sans-serif;
}
.picture{
    height: min-content;
}
.posts{
    display:flex;
    flex-direction:row;
    margin: 10px;
    padding: 10px;
    height: 2em;

  }

.posts img{
    border-radius: 0.3em;
    max-height: 2em;
    max-width: 2vm;
    overflow: hidden;

}

.posts p{
    margin: 10px;
    padding: 10px;
    font-family:'Titillium Web', sans-serif;
    font-size:12px;
}