@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto+Condensed&display=swap');

html {
    font-family: 'Lilita One', cursive;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}

:root {
    font-size: 0.75em;
}

body{
    margin:0;
    padding:0;
}
img{
    height: 15px;
}
.header{
    height: 30px;
    background:#F2F2F2;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

}
.top{
    font-family: sans-serif;
    font-size: 14px;
}
.top ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.top a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.first{
    color:black;
}
.else{
    color: rgba(46, 179, 185, 0.93);
}
.left_G{
    color: dimgray;
}
.left_B{
    color: blueviolet;
}
.left_Z{
    color: #00ac00;
}
.left_A{
    color:deepskyblue;
}
.container {
    height: 70px;
    /*background: #64909b;*/
    /*width: 900px;*/
    /*margin: 0 auto;*/
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    /*display: flex;*/
    /*flex-direction: row;*/

}

.navBar a, .navBar img{
    vertical-align: middle;
}

.navBar{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.navBar a{
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    font-family:'Titillium Web', sans-serif;
    font-size: 14px;
}

.logotype{
    align-items: stretch;
    flex-grow: 1;
}

.block{
    align-items: flex-end;
    padding-right: 1em;
}

#logo{
    color: black;
    font-size:50px;
    font-weight: bolder;
    /*margin: auto;*/

}
.icon{
    margin: 10px;
    padding: auto;
}
.bootom_W{
    border:1px solid dimgray;
    border-radius: 2px;
}
.bootom_Z{
    background-color: #62a4c6;
    border:1px solid dimgray;
    border-radius: 2px;
}
#check{
    color: aliceblue;
    margin-left: 40px;
    margin-top: 35px;
}
.more_content{
    display: block;
    margin: 0 auto;
}
.crumbs {
    display:flex;
    flex-direction:row;
    list-style:none;

}
.crumbs a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: dimgray;
    font-family:'Titillium Web', sans-serif;
}
